body{
	margin:0;
	padding:0;
	font-family:"Arial";
}

.all_content{
	width:60%;
	background-color:#fff;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

.logo {
	width:281px;
	height:40px;
	background-image:url(../images/logo.png);
	margin-top:20px;
	float:left;
}

.search {
	float:right;
	margin-bottom:20px;
	margin-top:20px;
}

.search input{
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #fcfcfc, #f5f5f5);
	background: -moz-linear-gradient(top, #fcfcfc, #f5f5f5);
	background: -ms-linear-gradient(top, #fcfcfc, #f5f5f5);
	background: -o-linear-gradient(top, #fcfcfc, #f5f5f5);
	border: 1px solid #e3e3e3;
	color: #a1a1a1;
	display: block;
	margin-bottom: 5px;
	width: 266px;
	height: 28px;
}

.buttons{
	float:right;
	margin-top: 16px;
	margin-right: 20px;
	color:#848079;
}

.buttons a{
	text-decoration:none;
	color:#848079;
}

.buttons div{
	float:left;
}

.home{
	border-right: 1px solid #585551;
	padding: 10px 10px 10px 10px;
}

.news {
	margin-left:10px;
	border-right: 1px solid #585551;
	padding: 10px 10px 10px 0;
}

.costs{
	margin-left:10px;
	padding: 10px 0 10px 0;
}

.content{
	margin-top:110px;
	overflow:auto;
	color:#585551;
	text-align: justify;
}

.green_line{
	width:100%;
	height:50px;
	background-color:#45ba01;
	color:#fff;
	margin-top:300px;
	overflow:auto;
}

.green_line_text{
	margin-top: 16px;
	margin-left: 16px;
	font-weight: bold;
}

.vsu {
	width:20%;
	height:431px;
	margin-left:0px;
	background-image:url(../images/1.jpg);
	overflow:auto;
	float:left;
	margin-right:6.6%;
	background-size: 191px 430px;
	background-repeat:no-repeat;
}

.vsu a{
	text-decoration:none;
	color:#fff;
}

.news_bottom {
	width:20%;
	height:431px;
	background-image:url(../images/2.jpg);
	overflow:auto;
	float:left;
	margin-right:6.6%;
	background-size: 191px 430px;
	background-repeat:no-repeat;
}

.news_bottom a{
	text-decoration:none;
	color:#fff;
}

.costs_bottom {
	width:20%;
	height:431px;
	background-image:url(../images/3.jpg);
	overflow:auto;
	float:left;
	margin-right:6.6%;
	background-size: 191px 430px;
	background-repeat:no-repeat;
}

.costs_bottom a{
	text-decoration:none;
	color:#fff;
}

.school{
	width:20%;
	height:431px;
	background-image:url(../images/4.jpg);
	overflow:auto;
	float;left;
	background-size: 191px 430px;
	background-repeat:no-repeat;
}

.school a{
	text-decoration:none;
	color:#fff;
}

.title{
	width:100%;
	border-bottom:1px solid #dcdad7;
	color:#585551;
	font-size:12pt;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:20px;
}

.in_future_content{
	font-size:9pt;
}

.in_future_content p{
	border-bottom:1px solid #dcdad7;
	padding-bottom:10px;
}

.footer{
	margin-bottom:70px;
}

.footer_logo{
	overflow:auto;
	float:left;
}

.footer_logo_img {
	background-image:url(../images/vfu-logo.png);
	width:40px;
	height:57px;
	float:left;
}

.footer_logo_text{
	background-image:url(../images/footer_logo_text.png);
	width:249px;
	height:39px;
	margin-left:50px;
	margin-top:1%;
}

.social{
	float:right;
	margin-top:1.6%;
}

.social img{
	height:20px;
	margin-left:10px;
}

.social a{
	border-right:1px solid #dcdad7;
	padding-right:10px;
}

.social img:last-child{
	border:none;
	padding-right:0px;
}

.social a:last-child{
	border-right:none;
	padding-right:0px;
}
.other_menus{
	display:none;
	background-color:#45ba01;
	width:100%;
	height:100%;
	color:#fff;
	overflow:auto;
}

.other_menus_menu:first-child{
	margin-top:0px;;
	margin-left:10px;
}

.other_menus_menu{
	padding-bottom:10px;
	border-bottom:1px solid #fff;
	margin-left:10px;
	width:88%;
	padding-top:10px;
}

.other_menus_menu a:hover{
	color:#e3e4e2;
}

.other_menus, .vsu:hover>.green_line {
    display: none;
}

.vsu:hover>.other_menus {
    display: block;
}

.news_title{
	font-weight:bold;
	font-size:10pt;
}

.news_content_inner{
	text-align: justify;
	font-size:10pt;
	height:100px;
}

.news_content img{
	float:left;
	margin-right:10px;
}

.news_date {
	float:right;
	font-size:10px;
}

.news_content{
	border-bottom:1px solid #dcdad7;
	margin-bottom:20px;
	height:120px;
}

.other_menus, .news_bottom:hover>.green_line {
    display: none;
}

.news_bottom:hover>.other_menus {
    display: block;
}

.other_menus, .costs_bottom:hover>.green_line {
    display: none;
}

.costs_bottom:hover>.other_menus {
    display: block;
}

.other_menus, .school:hover>.green_line {
    display: none;
}

.school:hover>.other_menus {
    display: block;
}